<!DOCTYPE html>
<html>
  <head>
    <title>API | Programación Bátiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles/master.css">
  </head>
  <body>

    <div class="main-container">
      <div class="title-container">
        <h1>Programación Bátiz | API v1</h1>
        <h3>Endpoints desde: "/"</h3>
        <h3>Documentación: <a href="https://github.com/arcanite24/deviathan-progra-backend">github.com</a></h3>
      </div>
    </div>

    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
